@import url(http://fonts.googleapis.com/css?family=Open+Sans:300);

body, p, h1, h2, h3, h4, .btn {font-family: "Open Sans"; font-weight: 300;}
body, p, table {font-size: 18px; line-height: 2.0em;}
.table td {padding: 5px; line-height: 1.5em;}

img {margin: 5px;}

.hero-unit {border-radius: 0; background: #16a085; color: #ffffff; margin-left: 0; margin-right: 0; padding-left: 0; padding-right: 0;}
.stats {background: #232323; padding: 45px; margin: 5px; color: #ffffff;}
.row-fluid {margin-bottom: 30px;}

@media (max-width:480px) {
	.desc {font-size: 16px;}
	.video {width:320px; height:200px;}
}

@media (min-width:480px) and (max-width:780px) {
	.desc {font-size: 18px;}
	.video {width:480px; height:300px;}
}

@media (min-width:780px) and (max-width:1000px) {
	.desc {font-size: 20px;}
	.video {margin-right:20px; width:300px; height:140px;}
}

@media (max-width:1220px) {
	.desc {font-size: 22px;}
	.video { padding:40px; width:280px; height:220px;}
}

@media (min-width:1220px) {
	.desc {font-size: 24px;}
	.video { padding:5px; width:480px; height:300px;}
}


